{% extends 'base.html' %}
{% load static %}
{% block start %}

<h2>Upto 50% off on Latest Products!</h2>

<div class="d-flex flex-wrap justify-content-center width: 90vw pb-4">
    {% for product in products %}
    <div class="card text-center m-2" style="width: 12rem;">
        <img src="{{product.imgURL}}" class="card-img-top" alt="/">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p>Rs. {{product.price}}</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}